<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
  <script src="{{url_for('static', filename='globals.js')}}"></script>
</head>

<body>
  <main>
    <div class="outer-report-container">

      <div class="inner-report-container">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">
              Image Submission Editor
            </h4>
          </div>
          <div class="card-body">

            <div class="card">
              <div class="card-header">
                Data extrapolated from image
              </div>
              <div class="card-body">
                <div class="data-container">
                  {{data|safe}}
                </div>
                <div class="row">
                  <div id="save-changes-button-container" class="col-sm">
                    <button class="btn btn-primary" id="save-changes-button" onclick="saveChanges()">Save changes in session</button>
                  </div>
                  <div id="final-submit-container" class="col-sm">
                    <button class="btn btn-success" id="final-submit-button">Upload changes to database</button>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="card">
              <div class="card-header">
                Marked Image
              </div>
              <div class="card-body">
                {%for markedphoto in markedphotos%}
                <img
                  src="https://mpchecker.sccwrp.org/imagechecker/media?photo={{markedphoto}}&submissionid={{submissionid}}">
                {%endfor%}
              </div>
            </div>
            <br>

          </div>

        </div>
      </div>
    </div>
  </main>
</body>

<!--Load js at the end rather than doing something similar to $('document').ready()-->
<script src="{{url_for('static', filename='report.js')}}"></script>
<script src="{{url_for('static', filename='saveChanges.js')}}"></script>

</html>