<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
  <script src="{{url_for('static', filename='globals.js')}}"></script>
</head>

<body>
  <main>
    <div class="container main-outer-container">

      <div class="container card main-inner-container">
        <div class="card-header">
          Image Recognition Checker
        </div>
        <div class="card-body">

          <div id="file-submit-form-container" class="before-submit">

            <div class="container file-form-container">
              <form id="file-submission-form" action="/imagechecker/upload" enctype="multipart/form-data" method="post"
                target="_blank">
                <div class="row">

                  <div class="col-sm">

                    <input type="file" name="files" class="form-control-file" multiple>
                  </div>
                  <div class="col-sm">
                    <button class="btn btn-dark" type="submit">submit data</button>
                  </div>
                </div>
              </form>
            </div>


          </div>
          <div id="loader-gif-container" class="after-submit hidden">
            <img src="{{url_for('static',filename='loader.gif')}}">
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

<!--Load js at the end rather than doing something similar to $('document').ready()-->
<script src="{{url_for('static', filename='login.js')}}"></script>
<script src="{{url_for('static', filename='dragndrop.js')}}"></script>

</html>